<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ruche.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>HIVE LIVE</title>
</head>

<body>
    <div class="container">
            <div class="logIn">
                <div class="row justify-content-stretch" id='depl'>
                    <div class="col-12">
                        <h1>Hive Live</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-stretch log">
                    <div class="d-flex input-group-sm col-12">
                        <span class="input-group-text">Pseudo</span>
                        <input type="text" name="pseudo" id="pseudo" class="form-control" aria-label="small"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <div class="row d-flex justify-content-stretch log">
                    <div class="d-flex input-group-sm col-12">
                        <span class="input-group-text">Password</span>
                        <input type="password" autocomplete='on' name="pass" id="pass" class="form-control"
                            aria-label="small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="row d-flex justify-content-stretch log">
                    <div class="col-12 d-flex justify-content-stretch input-group-sm mb-3">
                        <button class="btn btn-primary" id='login'>Log In</button>
                    </div>
                </div>
            </div>
    </div>



    <script src="connexion_ruche.js"></script>
</body>

</html>